---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import HeaderImage from '../components/HeaderImage.astro'
import Tittle from '../components/Title.astro'
import Title from '../components/Title.astro'
import Newsletter from '../components/Newsletter.astro'
import { ViewTransitions } from 'astro:transitions'
---

<Layout title="Contact">
	<ViewTransitions />
	<div class="grid h-svh grid-rows-[auto_1fr_auto] gap-4">
		<header>
			<nav class="uk-container uk-container-xsmall mt-10">
				<HeaderImage name="John Smith" />
			</nav>
		</header>
		<main>
			<div class="uk-container uk-container-xsmall mt-10">
				<section>
					<Tittle title="Contact" />

					<div>
						<p>Get in touch:</p>

						<div class="grid gap-8 md:grid-cols-2">
							<div class="mt-4 grid grid-cols-1 gap-4">
								<a href="#" class="flex items-center gap-2">
									Twitter
									<span>@julesvcode</span>
									<span uk-icon="arrow-right"></span>
								</a>

								<a href="#" class="flex items-center gap-2">
									Instagram
									<span>@julesvdesign</span>
									<span uk-icon="arrow-right"></span>
								</a>

								<a href="#" class="flex items-center gap-2">
									Github
									<span>@julesvcode</span>
									<span uk-icon="arrow-right"></span>
								</a>
							</div>

							<div class="mt-4 grid grid-cols-1 gap-4">
								<a href="#" class="flex items-center gap-2">
									Website
									<span>@julesvcode.co </span>
									<span uk-icon="arrow-right"></span>
								</a>

								<a href="#" class="flex items-center gap-2">
									Dribbble
									<span>@julesvdesign</span>
									<span uk-icon="arrow-right"></span>
								</a>

								<a href="#" class="flex items-center gap-2">
									Behance
									<span>@julesvcode</span>
									<span uk-icon="arrow-right"></span>
								</a>
							</div>
						</div>
					</div>
				</section>

				<section class="mt-20">
					<Title title="Newsletter" />
					<Newsletter />
				</section>
			</div>
		</main>
		<footer>
			<div class="uk-container uk-container-xsmall mt-10">
				<Footer />
			</div>
		</footer>
	</div>
</Layout>
