---
import Hero from '../components/Hero.astro'
import Title from '../components/Title.astro'
import Project from '../components/Project.astro'
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Welcome to Jhon Smith">
	<div class="grid h-svh grid-rows-[auto_1fr_auto] gap-4">
		<header>
			<Hero />
		</header>

		<main>
			<section class="uk-container uk-container-xsmall mt-10">
				<div class="mb-6 flex items-baseline justify-between">
					<Title title="Projects" />
					<a href="/projects" class="uk-link-text font-mono">see all</a>
				</div>

				<div class="grid gap-4">
					<Project
						title="minilio"
						content="A minimal portfolio template built on Framer"
						year="2024"
						link="#"
					/>

					<Project
						title="Staredown"
						content="An online game to test you colour vision"
						year="2024"
						link="#"
					/>

					<Project
						title="88pixel"
						content="A collection of cross-platform website templates."
						year="2024"
						link="#"
					/>
				</div>
			</section>

			<section class="uk-container uk-container-xsmall mt-10">
				<div class="mb-6 flex items-baseline justify-between">
					<Title title="Thoughts" />
					<a href="#" class="uk-link-text font-mono">see all</a>
				</div>

				<div class="space-y-4">
					<hr class="uk-divider-icon" />
					<div class="flex items-baseline justify-between">
						<p>The Importance of UX in Website Design</p>
						<a href="/" class="flex items-center gap-1"
							>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
						>
					</div>
					<hr class="uk-divider-icon" />

					<div class="flex items-baseline justify-between">
						<p>5 Essential Web Design Tools You Need</p>
						<a href="/" class="flex items-center gap-1"
							>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
						>
					</div>
					<hr class="uk-divider-icon" />

					<div class="flex items-baseline justify-between">
						<p>Responsive Web Design: Why It Matters</p>
						<a href="/" class="flex items-center gap-1"
							>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
						>
					</div>
					<hr class="uk-divider-icon" />
				</div>
			</section>

			<section class="uk-container uk-container-xsmall mt-10">
				<div class="mb-6">
					<Title title="Newsletter" />
				</div>
				<div class="space-y-4">
					<p class="uk-paragraph font-mono">
						Sign up below to receive monthly updates from me straight in your inbox.
					</p>

					<form class="flex gap-4">
						<input type="email" name="email" placeholder="Your email address" class="uk-input" />
						<input type="submit" value="Subscribe" class="uk-button uk-button-primary" />
					</form>
				</div>
			</section>
		</main>
		<footer>
			<section class="uk-container uk-container-xsmall mt-10">
				<Footer />
			</section>
		</footer>
	</div>
</Layout>
