---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Jhon Smith">
	<header>
		<Hero />
	</header>

	<main>main</main>
	<footer>footer</footer>
</Layout>
