---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import HeaderImage from '../components/HeaderImage.astro'
import Tittle from '../components/Title.astro'
import Project from '../components/Project.astro'
---

<Layout title="Projects">
	<div class="grid h-svh grid-rows-[auto_1fr_auto] gap-4">
		<header>
			<nav class="uk-container uk-container-xsmall mt-10">
				<HeaderImage name="John Smith" />
			</nav>
		</header>
		<main>
			<div class="uk-container uk-container-xsmall mt-10">
				<section>
					<Tittle title="Projects" />

					<div class="mt-6 grid gap-4">
						<Project
							title="minilio"
							content="A minimal portfolio template built on Framer"
							year="2024"
							link="#"
						/>

						<Project
							title="Staredown"
							content="An online game to test you colour vision"
							year="2024"
							link="#"
						/>

						<Project
							title="88pixel"
							content="A collection of cross-platform website templates."
							year="2024"
							link="#"
						/>

						<Project
							title="moody"
							content="A minimal web app to track your mood"
							year="2024"
							link="#"
						/>

						<Project
							title="What To Listen To"
							content="Discover new lofi tracks to listen to while working, coding, studying or relaxing"
							year="2024"
							link="#"
						/>
					</div>
				</section>
			</div>
		</main>
		<footer>
			<div class="uk-container uk-container-xsmall mt-10">
				<Footer />
			</div>
		</footer>
	</div>
</Layout>
