---

---

<div class="space-y-4 font-mono">
	<hr class="uk-divider-icon" />
	<div class="flex items-baseline justify-between">
		<p>The Importance of UX in Website Design</p>
		<a href="/" class="flex items-center gap-1"
			>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
		>
	</div>
	<hr class="uk-divider-icon" />

	<div class="flex items-baseline justify-between">
		<p>5 Essential Web Design Tools You Need</p>
		<a href="/" class="flex items-center gap-1"
			>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
		>
	</div>
	<hr class="uk-divider-icon" />

	<div class="flex items-baseline justify-between">
		<p>Responsive Web Design: Why It Matters</p>
		<a href="/" class="flex items-center gap-1"
			>Read <span uk-icon="arrow-right" aria-label="Read"></span></a
		>
	</div>
	<hr class="uk-divider-icon" />
</div>
