---
import Nav from './Nav.astro'
---

<div class="grid grid-cols-1 items-center">
	<div class="flex flex-wrap justify-between gap-4">
		<p>2024 - John Smith</p>
		<nav class="uk-navbar-container" uk-navbar>
			<Nav />
			<hr class="uk-divider-icon" />
		</nav>
	</div>
	<hr class="uk-divider-icon" />
	<p class="mb-7 mt-8 pb-4 text-center">
		Desenvolvido por <a href="https://mouro.dev" target="_blank" class="text-indigo-600">mouro</a>
	</p>
</div>
