---
import Image from 'astro/components/Image.astro'
import profile from '../assets/avatar.png'
interface Props {
	name?: string
}
const { name } = Astro.props
---

<div class="flex items-center gap-4">
	<a href="/">
		<Image src={profile} alt=" Hey, I’m John Smith." width={150} class="mb-8 rounded-full" />
	</a>

	<h1 class="uk-h1">{name}</h1>
</div>
