---
import Navlinks from './Navlinks.astro'
---

<ul class="flex gap-4">
	<li><Navlinks href="/"> Home</Navlinks></li>
	<li><Navlinks href="/projects"> Projects</Navlinks></li>
	<li><Navlinks href="/thoughts"> Thoughts</Navlinks></li>
	<li><Navlinks href="/contact"> Contact</Navlinks></li>
</ul>
