---

---

<div class="space-y-4">
	<p class="uk-paragraph font-mono">
		Sign up below to receive monthly updates from me straight in your inbox.
	</p>

	<form class="flex gap-4">
		<input type="email" name="email" placeholder="Your email address" class="uk-input" />
		<input type="submit" value="Subscribe" class="uk-button uk-button-primary" />
	</form>
</div>
